<!DOCTYPE html>
<html lang="zxx " xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div th:fragment="preloader" id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header th:fragment="header" class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    hello.colorlib@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="lan-selector">
                    <select class="language_drop" name="countries" id="countries" style="width:300px;">
                        <option value='yt' data-image="img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English
                        </option>
                        <option value='yu' data-image="img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German
                        </option>
                    </select>
                </div>
                <div class="top-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="#"><i class="ti-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="../index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">Search product</button>
                        <div class="input-group">
                            <input id="search_box" type="text" placeholder="What do you need?">
                            <button id="advanced_search" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="icon_heart_alt"></i>
                                <span>1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="si-pic"><img src="img/select-product-1.jpg" alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="si-pic"><img src="img/select-product-2.jpg" alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>$120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                    <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">$150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Underwear</a></li>
                        <li><a href="#">Kid's Clothing</a></li>
                        <li><a href="#">Brand Fashion</a></li>
                        <li><a href="#">Accessories/Shoes</a></li>
                        <li><a href="#">Luxury Brands</a></li>
                        <li><a href="#">Brand Outdoor Apparel</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li class="active"><a href="/shop">Shop</a></li>
                    <li><a href="#">Collection</a>
                        <ul class="dropdown">
                            <li><a href="#">Men's</a></li>
                            <li><a href="#">Women's</a></li>
                            <li><a href="#">Kid's</a></li>
                        </ul>
                    </li>
                    <li><a href="../blog.html">Blog</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="/blog-details">Blog Details</a></li>
                            <li><a href="/shopping-cart">Shopping Cart</a></li>
                            <li><a href="/check-out">Checkout</a></li>
                            <li><a href="/faq">Faq</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<div th:fragment="breadcrumb" class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="shop.html">Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div id="side_list" class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <!--Collection Filter-->
                <div class="filter-widget">
                    <h4 class="fw-title">Collections</h4>
                    <ul class="filter-catagories">
                        <li th:each="collection : ${collections}">
                            <a th:attr="data-collection-id=${collection.id}" class="collection_name" href='#'
                               th:text="${collection.name}"></a>
                        </li>
                    </ul>
                </div>
                <!--Brand Filter-->
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div th:each="brand:${brands}" class="bc-item">
                            <label th:for="${brand.name}">
                                <span th:text="${brand.name}"></span>
                                <input name="brandName" th:value="${brand.id}" type="checkbox" th:id="${brand.name}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--Price Filter-->
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                        <div th:id="price_range"
                             class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                             data-min="0" data-max="200">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <a id="filter_button" href="#" class="filter-btn">Filter</a>
                </div>
                <!--Color Filter-->
                <div class="filter-widget">
                    <h4 class="fw-title">Color</h4>
                    <div class="fw-color-choose">
                        <div class="cs-item">
                            <input type="radio" id="cs-black">
                            <label class="cs-black" for="cs-black">Black</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-violet">
                            <label class="cs-violet" for="cs-violet">Violet</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-blue">
                            <label class="cs-blue" for="cs-blue">Blue</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-yellow">
                            <label class="cs-yellow" for="cs-yellow">Yellow</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-red">
                            <label class="cs-red" for="cs-red">Red</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-green">
                            <label class="cs-green" for="cs-green">Green</label>
                        </div>
                    </div>
                </div>
                <!--Categories Filter-->
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <div class="fw-tags">
                        <a th:each="cate:${categories}" href="#" th:text="${cate.name}"></a>
                    </div>
                </div>
            </div>

            <!--Product List-->
            <div id="main_content" class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select id="sorting_product" class="sorting">
                                    <option value='acs'>Sort name: A-Z</option>
                                    <option value='desc'>Sort name: Z-A</option>
                                    <option value='low'>Lowest price</option>
                                    <option value='high'>Highest price</option>
                                </select>
                                <select id="p_select" class="p-show">
                                    <option value='6'>Show: 06</option>
                                    <option value='9'>Show: 09</option>
                                    <option value='12'>Show: 12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01- 09 Of 36 Product</p>
                        </div>
                    </div>
                </div>
                <div id="product_list" class="product-list">
                    <div class="row">
                        <div th:each="product: ${products}" class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img th:src="@{'/files/' + ${product.image.name}}" th:alt="${product.image.name}">
                                    <!--                                    <div class="sale pp-sale">Sale</div>-->
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view" th:attr="data-view-id=${product.id}"
                                            onclick="showProductDetail(this)"><a th:href="@{/product/__${product.id}__}">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name" th:text="${product.category.name}"></div>
                                    <a href="#">
                                        <h5 th:text="${product.name}"></h5>
                                    </a>
                                    <div class="product-price" th:text="${product.price}+'$'">
                                        <span>$35.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.colorlib@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js" id="js1"></script>
<script src="js/bootstrap.min.js" id="js2"></script>
<script src="js/jquery-ui.min.js" id="js3"></script>
<script src="js/jquery.countdown.min.js" id="js4"></script>
<script src="js/jquery.nice-select.min.js" id="js5"></script>
<script src="js/jquery.zoom.min.js" id="js6"></script>
<script src="js/jquery.dd.min.js" id="js7"></script>
<script src="js/jquery.slicknav.js" id="js8"></script>
<script src="js/owl.carousel.min.js" id="js9"></script>
<script src="js/main.js" id="js10"></script>

<script>
    $(document).ready(function () {
        //Set select
        let size = 6;

        //collection filter
        $(".filter-catagories li a ").on('click', function () {
            size = 6;
            $(window).on("scroll", loadMore);
            let id = $(this).attr("data-collection-id");
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `/api/products/collection/${id}`,
                success: function (data) {
                    redrawProduct(data)
                    $(window).off("scroll", loadMore);
                },
                error: function () {
                    let content = `<div className="callout callout-warning">
                        <h5>Ops!!</h5>

                        <p>Nothing matched your search terms. Please try again with some different filter</p>
                    </div>`
                    document.getElementById("product_list").innerHTML = content;
                    $("html, body").animate({scrollTop: 180}, 1000);
                }
            })
            return false;
        });

        //filter button onclick
        $("#filter_button").on('click', function () {
            size = 6;
            $(window).on("scroll", loadMore);
            let brandIds = [];
            $(':checkbox:checked').each(function (i) {
                brandIds[i] = $(this).val();
            });
            let minPrice = $('#minamount').val();
            let maxPrice = $('#maxamount').val();
            minPrice = minPrice.substr(1, minPrice.length);
            maxPrice = maxPrice.substr(1, maxPrice.length);
            let page = $('#p_select').val();
            let sort = $('#sorting_product').val();
            size = page;
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `/api/products/brand?min=${minPrice}&max=${maxPrice}&brandIds=${brandIds}&number=${page}&sort=${sort}`,
                success: function (data) {
                    redrawProduct(data.content)
                },
                error: function () {
                    let content = `<div className="callout callout-warning">
                        <h5>Ops!!</h5>

                        <p>Nothing matched your search terms. Please try again with some different filter</p>
                    </div>`
                    document.getElementById("product_list").innerHTML = content;
                    $("html, body").animate({scrollTop: 180}, 1000);
                    $(window).off("scroll", loadMore);
                }
            })
            return false;
        })

        //Infinite Scroll
        $(window).scroll(loadMore);
        function loadMore(e) {
            let hT = $('.loading-more').offset().top,
                hH = $('.loading-more').outerHeight(),
                wH = $(window).height(),
                wS = $(this).scrollTop();
            if (wS > (hT + hH - wH) + 200) {
                $(window).off("scroll", loadMore);

                let brandIds = [];
                $(':checkbox:checked').each(function (i) {
                    brandIds[i] = $(this).val();
                });
                let minPrice = $('#minamount').val();
                let maxPrice = $('#maxamount').val();
                minPrice = minPrice.substr(1, minPrice.length);
                maxPrice = maxPrice.substr(1, maxPrice.length);
                let sort = $('#sorting_product').val();
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "GET",
                    url: `/api/products/brand?min=${minPrice}&max=${maxPrice}&brandIds=${brandIds}&number=${size}&sort=${sort}`,
                    success: function (data) {
                        if (size -2 <= data.content.length) {
                            redrawProduct(data.content)
                            size = parseInt(size) + 3;
                        }
                        setTimeout(function(){
                            $(window).on("scroll", loadMore)
                        }, 500) ;
                    },
                    error: function () {
                        let content = `<div className="callout callout-warning">
                        <h5>Ops!!</h5>
                        <p>Nothing matched your search terms. Please try again with some different filter</p>
                    </div>`
                        document.getElementById("product_list").innerHTML = content;
                        $("html, body").animate({scrollTop: 180}, 1000);
                    }
                })
            }
            e.preventDefault();
        }

        //redraw niceSelect
        $('#p_select').niceSelect();
        $('#sorting_product').niceSelect();

        //Name search
        $('#advanced_search').on('click', function () {
            size = $('#p_select').val();
            $(window).on("scroll", loadMore);
            let keyword = $("#search_box").val();
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `/api/products/search/${keyword}`,
                success: function (data) {
                    redrawProduct(data);
                    $(window).off("scroll", loadMore);
                },
                error: function () {
                    let content = `<div className="callout callout-warning">
                        <h5>Ops!!</h5>

                        <p>Nothing matched your search terms. Please try again with some different filter</p>
                    </div>`
                    document.getElementById("product_list").innerHTML = content;
                    $(window).off("scroll", loadMore);
                }
            })
        })


    });

    function redrawProduct(products) {
        let content = `<div id="product_list" class="product-list">
                    <div class="row">`
        for (let i = 0; i < products.length; i++) {
            content += getProduct(products[i]);
        }
        content += `  </div>
                    </div>`
        document.getElementById("product_list").innerHTML = content;
        event.preventDefault();

    }

    function getProduct(product) {
        return `<div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="/files/${product.image.name}" alt="${product.image.name}">
<!--                                    <div class="sale pp-sale">Sale</div>-->
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view" data-view-id="${product.id}" onclick="showProductDetail(this)"><a href="/product/${product.id}">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">${product.category.name}</div>

                                    <a href="#">
                                        <h5>${product.name}</h5>
                                    </a>
                                    <div class="product-price" >
                                    ${product.price}$
                                        <span>$35.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>`
    }

</script>

</body>

</html>