<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<h3>List Product</h3>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_modals">
    Create
</button>
<table id="productList" border="1px" style="width: 70%">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr th:each="product:${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.brand.name}"></td>
        <td th:text="${product.category.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"
                    th:id="${product.id}" onclick="update(this.id)">
                Edit
            </button>

        </td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_Modal"
                    th:id="${product.id}" onclick="deleteProduct(this.id)">
                Delete
            </button>
        </td>
    </tr>
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    //them moi
    function createProduct() {
        let name = $('#name_create').val()
        let brand = $('#brand_create').val()
        let category = $('#category_create').val()
        let price = $('#price_create').val()
        let newProduct = {
            name: name,
            brand: {
                id: brand
            },
            category: {
                id: category
            },
            price: price
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(newProduct),
            url: "/admin/product",
            success: successHander
        });
        event.preventDefault();
    }

    //ve lai
    function successHander() {
        $('#create_modals').modal('hide');
        $('#updateModal').modal('hide');
        $('#delete_Modal').modal('hide');
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/admin/product",
            success: function (data) {
                let contents = '<tr>\n' +
                    '<td>Name</td>\n' +
                    '<td>Brand</td>\n' +
                    '<td>Category</td>\n' +
                    '<td>Price</td>\n' +
                    '</tr>'
                for (let i = 0; i < data.length; i++) {
                    contents += getProduct(data[i]);
                }
                document.getElementById('productList').innerHTML = contents;

            }
        })
    }



    function getProduct(product) {
        return `<tr>
<td>${product.name}</td>
<td>${product.brand.name}</td>
<td>${product.category.name}</td>
<td>${product.price}</td>
 <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal"
                    id="${product.id}" onclick="update(this.id)">
                Edit
            </button>

 </td>
  <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_Modal"
                   id="${product.id}" onclick="deleteProduct(this.id)">
                Delete
            </button>
        </td>
</tr>`
    }
    //update
    function update(id){
        $.ajax({
            type:"GET",
            url:"/admin/product/"+id,
            success:function (data){
                $('#id_update').val(data.id)
                $('#name_update').val(data.name)
                $('#brand_update').val(data.brand)
                $('#category_update').val(data.category)
                $('#price_update').val(data.price)
            }
        })
        $(document).ready(function (){
            $('#update_button').click(function (event){
                let name = $('#name_update').val()
                let brand = $('#brand_update').val()
                let category = $('#category_update').val()
                let price = $('#price_update').val()
                let newProduct = {
                    name: name,
                    brand: {
                        id: brand
                    },
                    category: {
                        id: category
                    },
                    price: price
                };
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "PUT",
                    url: "/admin/product/" + id,
                    data: JSON.stringify(newProduct),
                    success: successHander
                })
                event.preventDefault();
            })
        })
    }
    //xoa
    function deleteProduct(id){
        $(document).ready(function (){
            $('#delete_button').click(function (event){
                $.ajax({
                    type:"DELETE",
                    url:`/admin/product/`+id,
                    success:successHander
                })
                event.preventDefault();
            })
        })
    }
</script>
<!--//modal create-->
<div class="modal fade" id="create_modals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create_modal">CREATE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" value="${data.id}" id="id_create">
                    <label>Name</label>
                    <label><input type="text" id="name_create"></label>
                </div>
                <div>
                    <label>Brand</label>
                    <label>
                        <select id="brand_create">
                            <option th:each="brand:${brands}" th:value="${brand.id}">
                                <span th:text="${brand.name}"></span>
                            </option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Category</label>
                    <label>
                        <select id="category_create">
                            <option th:each="category:${categories}" th:value="${category.id}">
                                <span th:text="${category.name}"></span>
                            </option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Price</label>
                    <label><input type="text" id="price_create"></label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create-button" onclick="createProduct()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" value="${data.id}" id="id_update">
                    <label>Name</label>
                    <label><input type="text" id="name_update"></label>
                </div>
                <div>
                    <label>Brand</label>
                    <label>
                        <select id="brand_update">
                            <option th:each="brand:${brands}" th:value="${brand.id}">
                                <span th:text="${brand.name}"></span>
                            </option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Category</label>
                    <label>
                        <select id="category_update">
                            <option th:each="category:${categories}" th:value="${category.id}">
                                <span th:text="${category.name}"></span>
                            </option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Price</label>
                    <label><input type="text" id="price_update"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="update_button">Update</button>
            </div>
        </div>
    </div>
</div>
<!--modal delete-->
<div class="modal fade" id="delete_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eModalLabel">DELETE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <td>Do you want delete</td>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete_button">Yes</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>